*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.head{
    display: inline-block;
    opacity: 0.7;
}

.pars{
    display: flex;
    gap: 10px;
    align-items: center;
}

.bar{
    width: 180px;
}

.dashboard{
    padding: 20px;
}

.dashboard_header{
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    align-items: center;
    justify-content: space-between;
}

.report{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 150px;
    background-color: #4e73df;
    border: 1px solid gray;
    border-radius: 3px;
    color: white;
}

.box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.boxbody1,.boxbody2,.boxbody3,.boxbody4{
    display: flex;
    height: 100px;
    width: 320px;
    border-radius: 7px;
    align-items: center;
    box-shadow: 0px 0px 0px 1px gainsboro;

}

.boxbody1{
    border-left: 5px solid blue;
}
 
.boxbody2{
        border-left: 5px solid rgb(107, 234, 79);
}
.boxbody3{
        border-left: 5px solid lightskyblue;
}
.boxbody4{
        border-left: 5px solid orange;
}

.bodycont{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 25px;
    justify-content: space-between;
}

.content1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.price{
    font-size: 20px;
}

.type1{
    font-size: small;
    color: blue;
}

.type2{
    font-size: small;
    color: rgb(107, 234, 79);
}

.type3{
    font-size: small;
    color: lightskyblue;
}

.type4{
    font-size: small;
    color: orange;
}

/* ---------------------cart part ---------------- */

.revenue_part{
    display: flex;
    padding: 20px;
    height: 100%;
    min-width: 380px;
    justify-content: center;
    align-items: center;
}

.earnings_overview_part{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    height: 100%;
    padding: 10px;
}

.earnings_overview_heading, .revenue_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.revenue_sources, .earnings_overview{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 8px gainsboro;
}

.box2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 25px;
}

/* --------------- colorbox -------------------- */

.Primary, .Success, .Info, .Warning, .Danger, .Secondary, .Light, .Dark{
    height: 80px;
    width: 340px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.Primary{
    background-color: #4e73df;
}

.Success{
    background-color:#1cc88a;
}

.Info{
    background-color: #36b9cc;
}

.Warning{
    background-color: #f6c23e;
}
 
.Danger{
    background-color: #e74a3b;
}
 
.Secondary{
    background-color: #858796;
}
 
.Light{
    background-color: #f8f9fc;
}
 
.Dark{
    background-color: #5a5c69;
}

.txt{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.txt1{
    margin-top: 0px;
    margin-left: 10px;
}

.picture{
    height: 200px;
    width: 400px;
}

.Illustrations_pic{

    display: flex;
    align-items: center;
    justify-content:center;
}

.column1, .column2{
    display: flex;
    flex-direction: column;
    height: min-content;
    width: 705px;
    gap: 20px;
}

.box3{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    gap: 20px;
    justify-content: center;
}

.projects{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px gainsboro;
}

.Illustrations{
    border: 1px solid gray;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px gainsboro;
}

.Development_Approach{
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px gainsboro;
}

.colorbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.Illustrations_tittle, .Development_Approach_tittle{
    border-bottom: 1px solid gray;
    padding-left: 15px;
    margin-bottom: 20px;
}

.earnings_overview_tittle, .revenue_sources-tittle{
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.txtcontent{
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.project_content{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.project-contant{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.project1, .project2, .project3, .project4, .project5{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project_tittle{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid gray;
}